.add-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fc;
  }
  
  .add-product-form {
    background-color: white;
    padding: 30px;
    padding-right: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .add-product-form h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .add-product-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .add-product-form input,
  .add-product-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add-product-form button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .add-product-form button:hover {
    background-color: #0056b3;
  }